MO0VEY_1008/MO0VEY_orarend.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="LD_orarend">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ora" type="oraTipus" minOccurs="0" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="oraTipus">
        <xs:sequence>
            <xs:element name="targy" type="xs:string"/>
            <xs:element name="idopont" type="idopontTipus"/>
            <xs:element name="helyszin" type="xs:string"/>
            <xs:element name="oktato" type="xs:string"/>
            <xs:element name="szak" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="tipus" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:simpleType name="oraAdasTipus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="eloadas"/>
            <xs:enumeration value="gyakorlat"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="idopontTipus">
        <xs:sequence>
            <xs:element name="nap" type="xs:string"/>
            <xs:element name="tol" type="xs:string"/>
            <xs:element name="ig" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="idopontNapTipus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="Hetfo"/>
                <xs:enumeration value="Kedd"/>
                <xs:enumeration value="Szerda"/>
                <xs:enumeration value="Csutortok"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="idopontTolTipus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="8:00"/>
                <xs:enumeration value="10:00"/>
                <xs:enumeration value="12:00"/>
                <xs:enumeration value="16:00"/>
                <xs:enumeration value="18:00"/>
                
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <xs:element name="idopontIgTipus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="10:00"/>
                <xs:enumeration value="12:00"/>
                <xs:enumeration value="16:00"/>
                <xs:enumeration value="18:00"/>
                <xs:enumeration value="20:00"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>