MO0VEY_0924/MO0VEY_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!ELEMENT XY_orarend (ora+)>             
<!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
<!ATTLIST ora
	id ID #REQUIRED
	tipus (előadás | gyakorlat | konzultáció | ismétlés) #REQUIRED>

<!ELEMENT targy (#PCDATA)>

<!ELEMENT idopont (nap, tol, ig)>
<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
